<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Keyword Counter gallery of sample outputs</title>
    <meta charset="UTF-8">
    <meta name="description" content="Optimize Your Resume and Social Media Keywords, Provide statistics on the keywords used in job postings Group the cities they are from Report the job titles searched." />
    <style>
        li {
            margin: 0.2cm 0.5cm 0.2cm 7cm;
            font-family:"Verdana";
            font-size:110%
            }

        p {
            margin: 1.0cm 0.5cm 1.0cm 6cm;
            font-family:"Verdana";
            font-size:100%
        }

        body {
            font-size: 100%;
            background-color: #caf6f6;
            }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }} "></script>
    <script type="text/javascript">var switchTo5x=true;</script>

</head>
<body>
    <div id='cssmenu'>
    <ul>
        <li><a href='/'><span>Start Your Keyword Count</span></a></li>
    </ul>
    </div>

    <h1>Keyword Counter Example for "director of marketing"</h1>
    <h2>Mono-Grams: This bar charts are samples of careerwords.zone's outputs for a
        given job search on indeed.com by <i>title</i>.</h2>


    <p>The first you'll see is an analysis of keyword pairs. The program
    searches the job postings for bullet points and gathers all the text in
    those points. Then the text is analyzed for common word pairs. Pairs which
    occur too often or not few times, are not considered.</p>

    <p><img src='/static/director_marketing_bi-gram.png' alt="keyword pairs from analysis of jobs"></p>

    <h2>Bi-Grams: This analysis is similar to the one above, except the words are not pairs but
        single words. Also, the words have been reduced to their "stems" before analysis.</h2>

    <p>This is helpful, because now words like:</p>
    <li>work</li>
    <li>worked</li>
    <li>working</li>

    <p>Are grouped as the same word.</p>

    <p><img src='/static/director_marketing_mono-gram.png' alt="single keywords
    from analysis of jobs"></p>

    <h2>Resume Comparison: You can compare your resume's content to the keywords returned from the search</h2>

    <p><img src="/static/director_marketing_resume_comp.png" alt="comparison of resume keywords to those discovered"></p>

    <h2>Title Count: It's often helpful to know which job titles were found, especially if you are
        searching by <i><b>keyword</b></i> rather than <i><b>title</b></i>.</h2>

    <p><img src='/static/director_marketing_titles.png' alt="job titles found for the analysis"></p>

    <h2>Job Location: The count of postings found aggregated by city are also available.</h2>
    <p><img src="/static/director_marketing_cities.png" alt="count of cities where postings where found">

    <center><p><a href='/'><b>Start Your Keyword Count</b></p></center>

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=10739395;
var sc_invisible=1;
var sc_security="0d075499";
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="free web stats"
href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="http://c.statcounter.com/10739395/0/0d075499/1/"
alt="free web stats"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->

</body>
</html>

