<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>keyword counter gallery or sample outputs</title>
    <meta charset="UTF-8">
    <meta name="description" content="Optimize Your Resume and Social Media Keywords, Provide statistics on the keywords used in job postings Group the cities they are from Report the job titles searched." />
    <style>
        li {
            margin: 0.2cm 0.5cm 0.2cm 7cm;
            font-family:"Verdana";
            font-size:150%
            }

        p {
            margin: 1.0cm 0.5cm 1.0cm 6cm;
            font-family:"Verdana";
            font-size:150%
        }

        body {
            font-size: 125%;
            background-color: #caf6f6;
            }
    </style>

</head>
<body>

    <h1>Keywordcounter Sample Output</h1>
    <p>This bar charts are samples of keywordcounter.com's outputs for a given
    job search on indeed.com by <i>title</i>.

    In this case, <b><i>digital marketing</i></b>.

    <p>The first you'll see is an analysis of keyword pairs. The program
    searches the job postings for bullet points and gathers all the text in
    those points. Then the text is analyzed for common word pairs. Pairs which
    occur too often or not few times, are not considered.</p>

    <p><img src='/static/digital_marketing.png'></p>

    <p>This analysis is similar to the one above, except the words are not pairs but
    single words. Also, the words have been reduced to their "stems" before analysis.
    This is helpful, because now words like:
    <li>work</li>
    <li>worked</li>
    <li>working</li>

    <p>Are grouped as the same word.</p>

    <p><img src='/static/digital_marketing_monograms.png'></p>

    <p>It's often helpful to know which job titles were found, especially if you are
    searching by <i><b>keyword</b></i> rather than <i><b>title</b></i>.</p>

    <p><img src='/static/digital_marketing_titles.png'></p>


<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=10739395;
var sc_invisible=1;
var sc_security="0d075499";
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="free web stats"
href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="http://c.statcounter.com/10739395/0/0d075499/1/"
alt="free web stats"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->

</body>
</html>

