<!DOCTYPE html>
<html lang="en">
<head>

    <title>indeed skill scraper</title>
    <meta charset="UTF-8">

</head>

<body>
        <h3>INDEED.COM JOB OPENINGS SKILL SCRAPER</h3>
        <form action="/"  method="POST">
            Enter keywords you normally use to search for openings on indeed.com<br>
            <input type="text" name="kw" placeholder="data science"><br>
            Enter zipcodes<br>
            <input type="text" name="zipcodes" placeholder="^(941)"><br>
            <input type="submit" value="Submit" name="submit" onclick="loading();">
        </form>
</body>
</html>

