<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>keyword counter results keywordcounter.com</title>
    <meta charset="UTF-8">
    <link rel='icon' href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Optimize Your Resume and Social Media Keywords, Provide statistics on the keywords used in job postings Group the cities they are from Report the job titles searched." />
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.css" rel="stylesheet" type="text/css">
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }} "></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script type="text/javascript">var switchTo5x=true;</script>
    <!-- Test1 -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-1784525550107476"
        data-ad-slot="7237672146"
        data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <style>
        h1 {
            margin: 0.5cm 0.5cm 0.2cm 6cm;
        }

        body {
            font-size: 100%;
            background-color: #caf6f6;
            }
    </style>

    <script>
        var blink = setInterval(function() {
        $('#blink').fadeToggle();
        }, 500);
    </script>
</head>
<body>
    <script type="text/javascript">
    $(function() {
        $("#chart").load("/check_db" + "{{session_id}}", function() {
            $('#check_count').load('/check_count'+ "{{session_id}}", function() {
                clearInterval(blink);
                $("#blink").hide('fast', function() {
                    $("#radius").slideDown('fast');
                });
            });
        });
    });
    </script>

    <div id='cssmenu'>
    <ul>
        <li><a href='/'><span>New Search</span></a></li>
        <li><a href='/stem{{session_id}}'><span>Single Word</span></a></li>
        <li><a href='/grammar{{session_id}}'><span>Soft Skills</span></a></li>
        <li><a href='/cities{{session_id}}'<span>Cities</span></a></li>
        <li><a href='/titles{{session_id}}'><span>Titles</span></a></li>
        <li class='last'><a href='/missing{{session_id}}'><span>Analyze Your Resume</span></a></li>
    </ul>
    </div>

    <h1>Hard Skills: Frequency of Keyword Pairs</h1>
    <p><i>The graph is interactive, scroll up and down to zoom</i></p>
    <p>This analysis uses all the text found in the bullet points. Typically,
    these are where the hard skills are listed for the applicant.</p>

     <button id='more' style="background-color:red" type='button'>
     More Results</button>

    <script type="text/javascript">
     $(function() {
        $("#more").click(function() {
            $('#blink').show('fast', function() {
                $('#chart').load('/run_analysis' + '{{session_id}}', function() {
                    $("#blink").hide('fast');
                });
            });
        });
    });
     </script>

    <div id='check_count'></div>
    <p id="blink" style="color:red">Collecting Data</p>
    <div id="chart"></div>

    <br><br>

    <form  id=radius action="/radius{{session_id}}',  method="post" style="display: none">
        Explore around the radius of a word across all posts.<br>
        The default is five words in front and in back. <br>
        <input type="text" name="word" placeholder="experience"><br>
        <input type="submit" value="Submit" name="submit">
    </form>
</body>
</html>
