<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>keyword counter results keywordcounter.com</title>
    <meta charset="UTF-8">
    <meta name="description" content="Optimize Your Resume and Social Media Keywords, Provide statistics on the keywords used in job postings Group the cities they are from Report the job titles searched." />
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.css" rel="stylesheet" type="text/css">
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }} "></script>

    <style>
        h1 {
            margin: 0.5cm 0.5cm 0.2cm 6cm;
        }

        body {
            font-size: 125%;
            background-color: #caf6f6;
            }
    </style>

    <script>
        var blink = setInterval(function() {
        $('#blink').fadeToggle();
        }, 500);
    </script>

</head>
<body>
    <script type="text/javascript">
    $(function() {
        $("#chart").load("/run_analysis/", function() {
            clearInterval(blink);
            $("#blink").hide('fast', function() {
                $("#radius").slideDown('fast');
            });
        });
    });
    </script>

    <div id='cssmenu'>
    <ul>
        <li><a href='/stem/'><span>Single Word</span></a></li>
        <li><a href='/grammar/'><span>Soft Skills</span></a></li>
        <li><a href='/cities/'><span>Cities</span></a></li>
        <li><a href='/titles/'><span>Titles</span></a></li>
        <li class='last'><a href='/missing/'><span>Analyze Your Resume</span></a></li>
    </ul>
    </div>

    <h1>Hard Skills: Frequency of Keyword Pairs</h1>
    <p><i>The graph is interactive, scroll up and down to zoom</i></p>
    <p>This analysis uses all the text found in the bullet points. Typically,
    these are where the hard skills are listed for the applicant.</p>

     <button id='more' style="background-color:red" type='button'>
     More Results</button>

    <script type="text/javascript">
     $(function() {
        $("#more").click(function() {
            $('#blink').show('fast', function() {
                $('#chart').load('/run_analysis/', function() {
                    $("#blink").hide('fast', function() {
                    });
                });
            });
        });
    });
     </script>

    <p id="blink">Collecting Data</p>
    <div id="chart"></div>

    <br><br>

    <form  id=radius action="/radius/"  method="post" style="display: none">
        Explore around the radius of a word across all posts.<br>
        The default is five words in front and in back. <br>
        <input type="text" name="word" placeholder="experience"><br>
        <input type="submit" value="Submit" name="submit">
    </form>

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=10739395;
var sc_invisible=1;
var sc_security="0d075499";
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="free web stats"
href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="http://c.statcounter.com/10739395/0/0d075499/1/"
alt="free web stats"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->

</body>
</html>
